.post-view {
  margin-top: 20px;
  &:first {
    margin-top: 0px;
  }
  .post-content {
    position: relative;
    .view-comment {
      position: absolute;
      bottom: 0px;
      right: 0px;
      color: rgb(13, 128, 204);
      cursor: pointer;
    }
  }
}