.post-view {
  margin-top: 20px;
  .post-content {
    position: relative;
    .view-comment {
      position: absolute;
      bottom: 0px;
      right: 0px;
      color: rgb(13, 128, 204);
      cursor: pointer;
    }
  }
}

.comment-list-view {
  .comment-control {
    position: absolute;
    right: 0;
    top: 0;
  }
}